@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Variable.ttf') format('truetype');
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 0% 200%;
}

:root {
  --main-color: #012339;
  --link-color: #236ebf;
  --background-color: #fff;
  --pink-color: #a44185;
}
