<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link media="screen" href="style.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>Mechanicles: Santosh Wadghule's official website</title>

  </head>
  <body>
    <div style ="width:400px; margin:0 auto;margin-top:60px;">
      <img src="/images/COFFEE.GIF" title="" style="background:white"/>
    </div>
    <div id="about">
      I  <span style="color:#00CC00;">code</span> with <span style="color:#6F4E37">coffee</span>
      <br />
      I make <span style="color:#B06">apps</span> only through <span style="color:#00CC00;">Vim</span>
    </div>
    <h4><a href="/info"> &#8617;</a></h4>
    <div id="footer">
      © <%= @year %> Santosh Wadghule. Powered by Sinatra and Heroku
    </div>
  </body>
</html>
