<!DOCTYPE html>
<html>
  <head>
    <%= erb :head %>
  </head>
  <body>
    <%= erb :profile_image %>

    <div class="divider"></div>

    <div id="about">
      I am a full-stack <span class="rails-color">Ruby on Rails</span> developer
      <br />
      I  compose <span class="code-color">code</span> with <span class="coffee-color">&#x2615;</span>
      <br />
      I make beautiful <span class="love-color">apps</span> only through <span class="code-color">Vim</span>
    </div>

    <div class="divider"></div>

    <h4><a href="/info" class="awesome">&larr;</a></h4>

    <%= erb :footer, { current_year: @current_year } %>
  </body>
</html>
