<!DOCTYPE html>

<html>
  <head>
    <%= erb :head %>
  </head>
  <body>
    <div id="img-box">
      <img src="/images/COFFEE.GIF" style="background:white" />
    </div>

    <div id="about">
      I  <span class="code-color">code</span> with <span class="coffee-color">coffee</span>
      <br />
      I make beautiful <span class="love-color">apps</span> only through <span class="code-color">Vim</span>
    </div>

    <br />

    <h4><a href="/info" class="awesome">&#8617;</a></h4>

    <%= erb :footer, { current_year: @current_year } %>
  </body>
</html>
