<header>
  <div class="inner">
    <h3 class="masthead-brand">Mechanicles</h3>

    <nav class="nav nav-masthead">
      <a class="nav-link" href="http://blog.mechanicles.com/" target="_blank">blog</a>
      <a class="nav-link" href="https://github.com/mechanicles" target="_blank">github</a>
      <a class="nav-link" href="http://twitter.com/mechanicles" target="_blank">twitter</a>
      <a class="nav-link" href="https://www.linkedin.com/in/santosh-wadghule/" target="_blank">linkedin</a>
    </nav>
  </div>
</header>
