<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand"><a href="/">Mechanicles</a></h3>

    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link <%= @current_action == "home" ? "active" : "" %>" href="/">Home</a>
      <a class="nav-link <%= @current_action == "profile" ? "active" : "" %>" href="/profile">Profile</a>
      <a class="nav-link" href="http://blog.mechanicles.com/" target="_blank">Blog</a>
      <a class="nav-link" href="https://github.com/mechanicles" target="_blank">Github</a>
      <a class="nav-link" href="http://twitter.com/mechanicles" target="_blank">Twitter</a>
      <a class="nav-link" href="https://www.linkedin.com/in/santosh-wadghule/" target="_blank">LinkedIn</a>
      <a class="nav-link" href="mailto:santosh.wadghule@gmail.com">Contact</a>
    </nav>
  </div>
</header>
