<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="Santosh Wadghule: A Rails consultant">
<meta name="keywords" content="ruby, rails, javascript, vim, freelancer, consultant, full stack developer, h1b, remote, india, hire, available, santosh wadghule, mechanicles">
<meta name="author" content="Santosh Wadghule">

<link media="screen" href="bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Aladin" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<link media="screen" href="style.css" type="text/css" rel="stylesheet">
<link media="screen" href="cover.css" type="text/css" rel="stylesheet">
<link media="screen" href="local_style.css" type="text/css" rel="stylesheet">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

<title>Santosh Wadghule: The official website</title>
