<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta name="description" content="Santosh Wadghule: A Remote Ruby on Rails Consultant">
    <meta name="keywords" content="ruby,rails,javascript,vue.js,freelancer,consultant,full stack developer,remote,india,hire,rails job,santosh,wadghule,santosh wadghule,mechanicles">
    <meta name="author" content="Santosh Wadghule">

    <base href="/">
    <link media="screen" href="style.css" type="text/css" rel="stylesheet">
    <link media="screen" href="bootstrap.min.css" type="text/css" rel="stylesheet">
    <link media="screen" href="cover.css" type="text/css" rel="stylesheet">
    <link media="screen" href="local_style.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <title>Santosh Wadghule: The official website</title>
  </head>
  <body style="">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header>
        <div class="inner">
          <h3 class="masthead-brand">Mechanicles</h3>

          <nav class="nav nav-masthead">
            <a class="nav-link" href="http://blog.mechanicles.com/" target="_blank">blog</a>
            <a class="nav-link" href="https://github.com/mechanicles" target="_blank">github</a>
            <a class="nav-link" href="http://twitter.com/mechanicles" target="_blank">twitter</a>
            <a class="nav-link" href="https://www.linkedin.com/in/santosh-wadghule/" target="_blank">linkedin</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover mt-5">
        <h1 class="cover-heading">Hey, I'm Santosh!</h1>

        <p class="lead">
          A full stack Ruby on Rails developer <!-- (<mark>Open for hire!</mark>) -->
        </p>

        <p class="text-justify">
          I have thirteen years of professional experience in a wide variety of business areas.
          I love Ruby, JavaScript, Open Source Software, and Vim.
        </p>

        <p class="text-justify">
          I offer expertise in Ruby on Rails, including problem-solving, architecture design,
          application optimization, code reviews, performance enhancements, team mentoring,
          and rescue missions. Consider hiring me for your specific needs in these areas.
        </p>

        <fieldset class="border rounded p-2 text-left mb-3">
          <legend class="w-auto">What I am all about...</legend>
          <table class="table table-borderless table-sm table-responsive" style="color:inherit;">
            <tr>
              <th>Languages:</th>
              <td>Ruby, JavaScript, Elixir</td>
            </tr>

            <tr>
              <th>Frameworks:</th>
              <td>Ruby on Rails, Sinatra, Phoenix, Vue/React, Express (Node.js)</td>
            </tr>

            <tr>
              <th>Infrastructure:</th>
              <td>Heroku, Docker, AWS, Unicorn, Puma, Apache, Nginx, Passenger, etc</td>
            </tr>

            <tr>
              <th>Other skills:</th>
              <td>Rubygems development, Microservices, REST API development</td>
            </tr>

            <tr>
              <th>Rails contributions:</th>
              <td>
                <a class="mechanicles-link" href="http://contributors.rubyonrails.org/contributors/santosh-wadghule/commits" target="_blank">
                  https://contributors.rubyonrails.org/contributors/santosh-wadghule/commits
                </a>
              </td>
            </tr>

            <tr>
              <th>My open source work:</th>
              <td>
                <a class="mechanicles-link" href="https://rubygems.org/profiles/mechanicles" target="_blank">Ruby gems</a>,
                <a class="mechanicles-link" href="https://github.com/mechanicles/espn_cricinfo" target="_blank">Microservices using RabbitMQ & Rails</a>,
                <a class="mechanicles-link" href="https://github.com/mechanicles/labelize-field" target="_blank">labelize-field (jQuery plugin)</a>,
                <a class="mechanicles-link" href="https://github.com/mechanicles" target="_blank">etc</a>
              </td>
            </tr>

            <tr>
              <th>Talks:</th>
              <td>
                <a class="mechanicles-link" href="https://goo.gl/e40Tk3" target="_blank">Aila!.. Caching in Rails</a>,
                <a class="mechanicles-link" href="https://goo.gl/1NFCsS" target="_blank">Rails Request & Middlewares</a>,
                <a class="mechanicles-link" href="https://www.slideshare.net/mechanicles/es6-features-rails" target="_blank">ES6: Features + Rails</a>
              </td>
            </tr>

            <tr>
              <th>Activities:</th>
              <td>Coding, Reading, Food photography, and Fun 😀</td>
            </tr>
            <tr>
              <th>Companies:</th>
              <td>Beema, Bit Zesty, AgentBright, Autobrain, SkyMD, BigBinary, Idyllic Software, and other</td>
            </tr>
          </table>
        </fieldset>

        <p class="text-justify">
          Please feel free to reach out to me via email at <a href="mailto:santosh.wadghule@gmail.com" class="link">santosh.wadghule@gmail.com</a>
          with a brief description of your project, and I will be happy to evaluate its potential.
        </p>
      </main>

      <footer class="mastfoot mt-5 text-center">
        <div class="inner">
          <p class="footer">© Santosh Wadghule</p>
        </div>
      </footer>
    </div>
  </body>
</html>
