<!doctype html>
<html>
  <head>
    <%= erb :head %>
  </head>
  <body class="text-center" style="">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= erb :header %>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Hi, I'm Santosh!</h1>
        <h3 class="cover-heading">A Remote Ruby on Rails Consultant</h3>
        <p class="lead">
          I am a full-stack developer and have <%= @total_experience.humanize %> years of professional
          experience in a wide variety of business areas.<br/>I love Ruby, Elixir, JavaScript, Open Source
          Software, and Vim.
        </p>
        <p class="lead">
          <a href="/profile" class="btn btn-lg btn-secondary">My profile</a></a>
        </p>
      </main>

      <%= erb :footer %>
    </div>
  </body>
</html>
