<!DOCTYPE html>
<html>
  <head>
    <%= erb :head %>
  </head>
  <body>
    <%= erb :profile_image %>
    <div class="divider"></div>

    <%= erb :logo %>

    <div class="highlight">
      Hire me for Ruby on Rails specific problems, architecture, application design,
      optimizations, performance,<br />code reviews, team mentoring, and rescue missions.
    </div>

    <div class="divider"></div>

    <div id="contact">
      <h4>Pune, India</h4>
      <h4>santosh.wadghule@gmail.com</h4>
    </div>

    <div class="divider"></div>

    <h4><a href="/info" id="about-me">Hello there 👋</a></h4>

    <%= erb :footer, { current_year: @current_year } %>

    <script charset="utf-8">
      var i = 0;
      var txt = 'Want to know more about me, then go here';
      var speed = 50;
      var element = document.getElementById("about-me")

      function typeWriter() {
        if (i < txt.length) {
          element.innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        } else {
          element.innerHTML += ' &rarr;';
        }
      }

      document.addEventListener('DOMContentLoaded', function(){
        setTimeout(function(){
          element.innerHTML = '';
          typeWriter();
        }, 2500);
      });
    </script>
  </body>
</html>
