<!DOCTYPE html>

<html>
  <head>
    <%= erb :head %>
  </head>
  <body>
    <%= erb :profile_image %>

    <%= erb :logo %>

    <div id="contact">
      <h4>Pune, India</h4>
      <h4>santosh.wadghule@gmail.com</h4>
    </div>

    <br/><h4><a href="/info">Enter</a></h4>

    <%= erb :footer, { current_year: @current_year } %>
  </body>
</html>
