<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link media="screen" href="style.css" type="text/css" rel="stylesheet">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <title>Mechanicles: Santosh Wadghule's official website</title>
</head>

<body>

<div id ="logo">
  <h1><span style = "color:red;">M</span>echanicles</h1>
  <h4>
    <a href="/about">Santosh Wadghule</a> |
    <a href="http://programin.wordpress.com/" TARGET="_blank">My blog</a> |
    <a href="http://www.flickr.com/photos/santoshwadghule" TARGET="_blank">My photos</a> |
    <a href="http://twitter.com/mechanicles" TARGET="_blank">Follow me on twitter</a>
  </h4>
</div>

<fieldset>
  <legend><b> Profile! </b></legend>
  <h5>A dude who lives in <span style="color:red"> Pune</span>. He has done M.Sc. Computer Science from the University of Pune.</h5><br />
  <h5><b>Passions</b>: Ruby on Rails, Java, PHP, Python, C, C++, C#, CSS and JavaScript.</h5><br />
  <h5><b>Acivities</b>: Internet, Flickr, Twitter and Photography.</h5><br />
  <h5><b>Projects</b>: <a href="http://github.com/mechanicles" style="color:red">http://github.com/mechanicles</a></h5><br />
  <h5><b>Music</b>: Die-hard fan of A R Rahman.</h5><br />
  <h5 style="text-align:right;margin-right:6px"><b><i>- Don't live to geek, geek to live </i></b></h5>
</fieldset>

<h4>  <a href="/"> &#8617;</a> </h4>
<div id="footer">
  © <%= @year %> Santosh Wadghule. Powered by Sinatra
</div>

</body>

</html>