<!DOCTYPE html>

<html>
  <head>
    <%= erb :head %>
  </head>
  <body>
    <%= erb :logo %>

    <h4>
      <a href="/about">Santosh Wadghule</a> |
      <a href="https://github.com/mechanicles" target="_blank">GitHub</a> |
      <a href="http://blog.mechanicles.com/" target="_blank">My blog</a> |
      <a href="https://www.linkedin.com/in/santosh-wadghule/" target="_blank">LinkedIn</a> |
      <a href="http://twitter.com/mechanicles" target="_blank">Follow me on twitter</a>
    </h4>

    <fieldset>
      <legend><b>Profile!</b></legend>
      <h5>A dude who lives in Pune. He is a Rails freelancer and has almost <%= @total_experience.humanize %> years of professional programming experience. Loves Ruby, JavaScript, Open Source Software, and Vim. </h5><br />
      <h5><b>Languages</b>: Ruby, JavaScript, CoffeeScript </h5><br />
      <h5><b>Frameworks</b>: Ruby on Rails, Sinatra, Padrino, React/Angular, Express (Node.js) </h5><br />
      <h5><b>Activities</b>: Coding, Reading, and Food photography</h5><br />
      <h5><b>Infrastructure</b>: Heroku, AWS, Apache, Nginx, Passenger, Unicorn, Puma, etc.</h5><br />
      <h5><b>Other skills:</b> Rubygems development, Microservices, REST API development</h5><br />
      <h5 class="life-motto"><b><i>- Don't live to geek, geek to live </i></b></h5>
    </fieldset>

    <br />

    <h4><a href="/">&#8617;</a></h4>

    <%= erb :footer, { current_year: @current_year } %>
  </body>
</html>
