<!DOCTYPE html>

<html>
  <head>
    <%= erb :head %>
  </head>
  <body>
    <%= erb :logo %>

    <h4>
      <a href="/about">Santosh Wadghule</a> |
      <a href="http://blog.mechanicles.com/">My blog</a> |
      <a href="https://www.linkedin.com/in/santosh-wadghule/" target="_blank">LinkedIn</a> |
      <a href="http://twitter.com/mechanicles" target="_blank">Follow me on twitter</a>
    </h4>

    <fieldset>
      <legend><b>Profile!</b></legend>
      <h5>A dude who lives in Pune. He is a Rails freelancer and has almost <%= @total_experience.humanize %> years of professional programming experience. Loves Ruby, Vim, and open source world.</h5><br />
      <h5><b>Passions</b>: Ruby, Rails, JavaScript, and Vim </h5><br />
      <h5><b>Activities</b>: Coding, Reading, and Food photography</h5><br />
      <h5><b>Code</b>: <a class="mechanicles-link" href="http://github.com/mechanicles" target="_blank">github.com/mechanicles</a></h5><br />
      <h5><b>Music</b>: Die-hard fan of A R Rahman</h5><br />
      <h5 class="life-motto"><b><i>- Don't live to geek, geek to live </i></b></h5>
    </fieldset>

    <br />

    <h4><a href="/">&#8617;</a></h4>

    <%= erb :footer, { current_year: @current_year } %>
  </body>
</html>
