<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mechanicles: Santosh Wadghule's official website</title>
    <link href="https://fonts.googleapis.com/css?family=Aladin" rel="stylesheet" />
    <link media="screen" href="style.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%= erb :logo %>

    <h4>
      <a href="/about">Santosh Wadghule</a> |
      <a href="http://blog.mechanicles.com/">My Blog</a> |
      <a href="http://www.flickr.com/photos/santoshwadghule" target="_blank">My photos</a> |
      <a href="http://twitter.com/mechanicles" target="_blank">Follow me on twitter</a>
    </h4>

    <fieldset>
      <legend><b>Profile!</b></legend>
      <h5>A dude who lives in Pune. He is a Rails freelancer & has almost <%= @total_experience.humanize %> years of professional programming experience. Loves Ruby, Vim, and open source world.</h5><br />
      <h5><b>Passions</b>: Ruby, Rails, JavaScript & Vim </h5><br />
      <h5><b>Activities</b>: Internet, Reading, and Food Photography</h5><br />
      <h5><b>Code</b>: <a href="http://github.com/mechanicles" style="color:red">http://github.com/mechanicles</a></h5><br />
      <h5><b>Music</b>: Die-hard fan of A R Rahman</h5><br />
      <h5 class="life-motto"><b><i>- Don't live to geek, geek to live </i></b></h5>
    </fieldset>

    <br />

    <h4><a href="/">&#8617;</a></h4>

    <%= erb :footer, { current_year: @current_year } %>
  </body>
</html>
