<!doctype html>
<html>
  <head>
    <%= erb :head %>
  </head>
  <body class="text-center"  style="">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= erb :header %>

      <main class="lead">
        <p>
          Hire me for Ruby on Rails specific problems, architecture, application design,
          optimizations, code reviews, performance, team mentoring, and rescue missions.
        </p>

        <fieldset class="border rounded p-2 text-left">
          <legend class="w-auto">What I am all about...</legend>
          <table class="table table-borderless table-sm table-responsive" style="color:inherit;">
            <tr>
              <th>Languages:</th>
              <td>Ruby, JavaScript, Elixir</td>
            </tr>

            <tr>
              <th>Frameworks:</th>
              <td>Ruby on Rails, Phoenix, Sinatra, Vue/React, Express (Node.js)</td>
            </tr>

            <tr>
              <th>Infrastructure:</th>
              <td>Heroku, Docker, AWS, Unicorn, Puma, Apache, Nginx, Passenger, etc</td>
            </tr>

            <tr>
              <th>Other skills:</th>
              <td>Rubygems development, Microservices, REST API development</td>
            </tr>

            <tr>
              <th>Rails contributions:</th>
              <td>
                <a class="mechanicles-link" href="http://contributors.rubyonrails.org/contributors/santosh-wadghule/commits" target="_blank">
                  https://contributors.rubyonrails.org/contributors/santosh-wadghule/commits
                </a>
              </td>
            </tr>

            <tr>
              <th>My open source work:</th>
              <td>
                <a class="mechanicles-link" href="https://rubygems.org/profiles/mechanicles" target="_blank">Ruby gems</a>,
                <a class="mechanicles-link" href="https://github.com/mechanicles/espn_cricinfo" target="_blank">Microservices using RabbitMQ & Rails</a>,
                <a class="mechanicles-link" href="https://github.com/mechanicles/labelize-field" target="_blank">labelize-field (jQuery plugin)</a>,
                <a class="mechanicles-link" href="https://github.com/mechanicles" target="_blank">etc</a>
              </td>
            </tr>

            <tr>
              <th>Talks:</th>
              <td>
                <a class="mechanicles-link" href="https://goo.gl/e40Tk3" target="_blank">Aila!.. Caching in Rails</a>,
                <a class="mechanicles-link" href="https://goo.gl/1NFCsS" target="_blank">Rails Request & Middlewares</a>,
                <a class="mechanicles-link" href="https://www.slideshare.net/mechanicles/es6-features-rails" target="_blank">ES6: Features + Rails</a>
              </td>
            </tr>

            <tr>
              <th>Activities:</th>
              <td>Coding, Reading, Food photography, and Fun 😀</td>
            </tr>
            <tr>
              <th>Companies:</th>
              <td>Bit Zesty, AgentBright, Autobrain, SkyMD, BigBinary, Idyllic Software, and other</td>
            </tr>
          </table>
        </fieldset>
      </main>
      <%= erb :footer %>
    </div>
  </body>
</html>
