* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: 'Nunito', sans-serif;
  color: #D4D7D9;
  font-size: 18px;
  margin-top: 3%;
  margin-bottom: 1%;
}

a:link {
  text-decoration: none;
}

h4 {
  text-align: center;
  margin-top: 0px;
  color: #444444;
}

h1 a {
  color: #D4D7D9;
}

h4 a, a.awesome {
  color: red;
}

h4 a:hover, a:hover.awesome {
  color: red;
  text-shadow: 0px 0px 10px #D8AFF3;
}

fieldset {
  margin: 0 auto;
  width: 1000px;
  border: 2px solid #444444;
  margin-top: 15px;
  padding: 1em;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
}

legend{
  color: limegreen;
  padding: 3px 6px;
}

div#profile-intro {
  font-size: 18px;
  padding: 0px 10px 10px 10px;
}

a.mechanicles-link {
  color: red;
}

div#img-box{
  margin-top: 20px;
}

div#img-box img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: #D4D7D9;
}

div#logo h1 {
  font-size: 5em;
  color: #D4D7D9;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-family: 'Aladin', cursive;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div#contact h4 {
  color: #D4D7D9;
}

div#about {
  text-align: center;
  color: #D4D7D9;
  font-size: 2.9em;
}

div#footer {
  margin: 15px auto 0 auto;
  text-align: center;
  color: #414A4C
}

div.divider{
  margin-top: 15px;
}

span.red-color {
  color: red;
}

.love-color {
  color: #ff0084;
}

.code-color {
  color: #00CC00;
}

.coffee-color {
  color: #854442;
}

.rails-color {
  color: #cc0000;
}

.highlight {
  color: #ffbb33;
  text-align: center;
}

table, th, td {
  border-collapse: collapse;
  font-size: 18px;
}

th {
  width: 19%;
}

th, td {
  padding: 0px 10px 10px 10px;
  text-align: left;
}
