@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Regular.ttf') format('truetype');
}

:root {
  --main-color: #012339;
  --link-color: #236ebf;
  --background-color: #fff;
  --pink-color: #a44185;
}
